.SortingVisualizer {
	width: 100%;
	min-height: 100vh;
	background-color: #e6e6e6;
}

.SortingVisualizer__ArrayBars {
	width: 90%;
	max-width: 800px;
	height: 450px;
	margin: 2rem auto 0rem auto;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-end;
}

@media (max-width: 600px) {
	.SortingVisualizer__ArrayBars {
		height: 450px;
	}
}
